.navbar-nav{
    margin-left: 30%;
    float: left;
    position: relative;
    font-size: 105%;
}

li{
    padding-left: 20px;
    padding-right: 0px;
    
}
a{
  color: white;
}
.container-fluid p-5{
    height: 100px;
}