<body>
<br>
<h2>About Us</h2><hr>
<p>As one of Indias top multiplex chains, Movie Booking Portal operates 667 screens in 158 multiplexes across 70 cities of India. The entertainment venture of the renowned Movie Booking Portal Group, the company started its journey in 2002 from its 1st multiplex in Bund Gardens Pune and now entertains 70 million guests across the country annually. In the process, Movie Booking Portal has set high benchmarks of Luxury, Service and Technology in the cinema exhibition industry. Thriving on innovativeness, Movie Booking Portal has pioneered plenty of firsts in the industry.</p>
<p>
<img src="assets\images\aboutus1.PNG"><br>
<p>
    Movie Booking Portal operates Megaplex at the Inorbit Mall Malad, Mumbai - a multiplex with highest number of cinema viewing experiences in the world. The Megaplex is also home to Indias first ScreenX as well as Indias first screen with MX4D® Theater Effects.
</p>
<img src="assets\images\aboutus2.PNG">

</body>