* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    margin: 0;
    
    
   
    
  }
  .left{
      width: 30%;
      background-color: aqua;
  }
  .right{
      width: 70%;
      background-color: blanchedalmond;
      
  }
  .row{
      margin: 0;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .carousel{
      width: 500px;
  }