<body><br>
 <!-- <div class="carousel" >
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[0]}}</h3>
      <p>{{image_caption[0]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[1]}}</h3>
      <p>{{image_caption[1]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" >
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[2]}}</h3>
      <p>{{image_caption[2]}}</p>
    </div>
  </ng-template>
</ngb-carousel>
</div> -->

<ngb-carousel *ngIf="movies" [interval]="3000" [animation]="true">
  <ng-template ngbSlide *ngFor="let mv of movies">
    <div class="picsum-img-wrapper">
      <img src={{mv.imgSrc}} alt={{mv.movieName}}>

    </div>
    <div class="carousel-caption">
      <h3>{{mv.movieName}}</h3>
      <p>{{mv.movieCaption}}</p>
    </div>

  </ng-template>

</ngb-carousel>

</body>