* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Create three equal columns that floats next to each other */
  body{
    width: 35%;
    margin: auto;
  }
img{
  max-height: 400px;
}
p,h3{
  color: rgb(165, 213, 245);
  text-shadow: 2px 2px 5px red;
}
.carousel{
  animation: fade;
}