<body><br>
 <!-- <div class="carousel" >
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[0]}}</h3>
      <p>{{image_caption[0]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[1]}}</h3>
      <p>{{image_caption[1]}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" >
    </div>
    <div class="carousel-caption">
      <h3>{{image_name[2]}}</h3>
      <p>{{image_caption[2]}}</p>
    </div>
  </ng-template>
</ngb-carousel>
</div> -->

<ngb-carousel *ngIf="imgDetails" [interval]="3000" [animation]="true">
  <ng-template ngbSlide *ngFor="let img of imgDetails">
    <div class="picsum-img-wrapper">
      <img src={{img.imgSrc}} alt={{img.name}}>

    </div>
    <div class="carousel-caption">
      <h3>{{img.name}}</h3>
      <p>{{img.caption}}</p>
    </div>

  </ng-template>

</ngb-carousel>

</body>